.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #0f5f39;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: white;
}
@media (max-width: 768px) {
  .footer {
    position: relative;
  }
}
