.task-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
/* justify-content: center; */
  flex-wrap: wrap;
  gap: 20px;
  

}  @media (max-width:768px) {
.task-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

}

.task-card {
  width: 270px;
}


    @media (max-width:768px) {
    .task-card {
        width: 75%;
        text-align: center;
      }
  
    }